<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <ModulePrefs title="Mingle Integration (draft)" title_url="http://sites.google.com/"
                 description="Mingle Integration (draft)"
                 thumbnail="http://www.gstatic.com/sites-gadgets/common/images/sites-icon-gadget-thumb.png"
                 screenshot="http://www.gstatic.com/sites-gadgets/common/images/sites-icon-gadget-ss.png"
                 height="800" width="600" author="Google">
        <Require feature="dynamic-height"/>
    </ModulePrefs>
    <UserPref name="credentials" display_name="Credentials" required="true"/>
    <Content type="html">
        <![CDATA[
        <div id=content_div>qwe</div>
        <div id="debug_div" style="font-size:9pt; padding:5px; color: red;"></div>
        <script type="text/javascript">
                // setup variables
                var debug_html = "";
                print("starting...");
                var prefs = new gadgets.Prefs();
                var credentials = prefs.getString('credentials');
                var height = 800;
                var width = 600;

                if (gadgets.window) {
                    var viewport = gadgets.window.getViewportDimensions();
                    if (viewport.width) {
                        var width = viewport.width;
                    }
                    if (viewport.height) {
                        var height = viewport.height;
                    }
                }
                print("requesting...");
                var url = "https://oleg.aravin:12345@minglehosting.thoughtworks.com/kohls/api/v2/projects/project_3551_cicd/cards/execute_mql.xml?mql=SELECT sprint WHERE type = story AND Sprint=(Current sprint)";
                var client = new XMLHttpRequest();
                client.open("GET", url, false, "oleg.aravin", "12345");
                client.setRequestHeader("Content-Type", "text/plain");
                client.send();
                print("response...");
                print("readyState: " + client.readyState);
                if (client.readyState === 4 && client.status === 200)
                    document.getElementById("content_div").innerHTML = client.responseText;
                else
                    document.getElementById("content_div").innerHTML = client.status + " " + client.statusText + ".";

                function print(msg) {
                    debug_html += msg;
                    // Write debug HTML to div
                    document.getElementById("debug_div").innerHTML = debug_html;
                }
        </script>

        ]]>
    </Content>
</Module>